<div class="container">
  <%= render "shared/filter" %>
  <%# <div id="event-button">
    <%= link_to "Create a Event", new_event_path, class: "btn btn-primary" %>
  <%# </div> %>
  <div class="paperworkers">
    <% @paperworkers.each do |paperworker| %>
    <%= link_to user_path(paperworker) do%>
    <div id="card-event-id" class="card-event">

      <%# <%=image_tag "worker.jpg"%>

          <div class="card-event-headline">
            <%= cl_image_tag paperworker.photo.key, :transformation=>[ {:width=>350, :crop=>"scale"}, {:fetch_format=>:auto}], class: "profile-image"%>
          </div>
          <div id="name" >
            <h3 >
              <%= paperworker.name %>
            </h3>
          </div>
          <div id="rate">
            <p ><%= paperworker.rate.to_i %>€/h</p>
          </div>
          <div class="language-tags">
            <%paperworker.languages.each do |language| %>
            <div id="language"> <p> <%= language %></p></div>
            <% end %>
          </div>
          <div class="card-district-infos">
            <p><i class="fa-sharp fa-solid fa-location-dot"></i> <%= paperworker.district.join(", ") %></p>
          </div>
          <div class="card-services-infos">
            <p><i class="fa-solid fa-handshake-angle"></i> <%= paperworker.services.join(", ") %></p>
          </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
