<div class="container">
  <%= render "shared/filter" %>
  <%# <div id="event-button">
    <%= link_to "Create a Event", new_event_path, class: "btn btn-primary" %>
  <%# </div> %>
  <div class="paperworkers">
    <% @paperworkers.each do |paperworker| %>
    <%= link_to user_path(paperworker) do%>
    <div id="card-event-id" class="card-event">

      <%# <%=image_tag "worker.jpg"%>
        <div class="card-image-headline">
          <div class="card-event-headline">
            <%= cl_image_tag paperworker.photo.key, class: "profile-image"%>
          </div>
          <div id="name" class="card-event-headline">
            <h3>
              <%= paperworker.name %>
            </h3>
          </div>
        </div>
          <div class="card-event-infos">
            <%# <p> $ <%=paperworker.rate%>
            <% if paperworker.rate.to_i == paperworker.rate %>
              <p class="js-trigger c-tooltip_target profile-card-price__rate"> $ <%= paperworker.rate.to_i %>/h</p>

            <% else %>
              <p> $ <%= sprintf("%.2f", paperworker.rate) %>/h</p>
            <% end %>
          </div>
          <div class="card-event-infos">
            <p><strong>Languages:</strong> <%= paperworker.languages.join(", ") %></p>
          </div>
          <div class="card-event-infos">
            <p><strong>Districts:</strong> <%= paperworker.district.join(", ") %></p>
          </div>
          <div class="card-event-infos">
            <p><strong>Services:</strong> <%= paperworker.services.join(", ") %></p>
          </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
