<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
        <div class="paperworker">
          <div>
            <%= image_tag @paperworker.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="paperworker-infos">
            <h2><%= @paperworker.name %></h2> <p>$<%= @paperworker.rate %></p>

            <p><strong>Languages:</strong>
            <%= @paperworker.languages %></p>

            <p><strong>Service:</strong>
            <%= @paperworker.services %></p>

            <p><strong>District:</strong>
            <%= @paperworker.district %></p>
          </div>
        </div>

          <% if @requested %>
            <h2><em><strong> Your request has been sent! </strong></em></h2>
            <%=  @appointment.date.strftime("%d.%m.%Y") %></strong></p>
          <% else  %>
            <%= simple_form_for [@paperworker, @appointment] do |f| %>
                  <%= f.input :description, as: :text, :input_html => { class: 'test', :cols => 3, :rows => 3 } %>
                  <%= f.input :services, collection: %w"translation legal appointment" %>
                  <%= f.input :date, as: :date, html5: true %>
                  <%= f.button :submit, class: "btn btn-primary" %>
                  <% end %>
          <% end %>
    </div>
  </div>
</div>
