<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
        <div class="paperworker d-flex justify-content-center space-between">
          <div>
            <%= image_tag "worker.jpg", class: 'worker' %>
          </div>
          <div class="paperworker-infos">
            <h2><%= @paperworker.name %></h2> <p>$<%= @paperworker.rate %></p>

            <p><strong>Languages:</strong>
            <%= @paperworker.languages.join(", ") %></p>

            <p><strong>Service:</strong>
            <%= @paperworker.services.join(", ") %></p>

            <p><strong>District:</strong>
            <%= @paperworker.district.join(", ") %></p>
          </div>
        </div>

          <% if @requested %>
            <h2><em><strong> Your request has been sent! </strong></em></h2>
            <h4><em><strong><%= @appointment.date.strftime("%d.%m.%Y") %></strong></em></h4>
          <% else  %>
            <%= simple_form_for [@paperworker, @appointment] do |f| %>
                  <%= f.input :description, as: :text, :input_html => { class: 'test', :cols => 3, :rows => 3 } %>
                  <%= f.input :service, collection: @paperworker.services %>
                  <%= f.input :date, as: :date, html5: true %>
                  <%= f.button :submit, class: "btn btn-primary" %>
                  <% end %>
          <% end %>
    </div>
  </div>
</div>
