<div class="container py-5">
  <div class="row px-3">
    <div class="col-6 px-5 bg-white py-5">
      <div class="paperworker-image py-2">
        <%= cl_image_tag @paperworker.photo.key, height: 300, width: 400, crop: :fill, class: "profile-image" %>
      </div>
      <div class="paperworker-infos">
        <h2><%= @paperworker.name %></h2> <p><strong>$<%= @paperworker.rate %></strong></p>

        <p><strong>Languages:   </strong>
        <%= @paperworker.languages.join(',') %></p>

        <p><strong>Service:   </strong>
        <%= @paperworker.services.join(',') %></p>

        <p><strong>District:   </strong>
        <%= @paperworker.district.join(',') %></p>
      </div>
      <div>
        <%= @paperworker.description %>
      </div>
    </div>
    <div class="col-6 px-5 py-5 d-flex flex-column align-items-center justify-content-around bg-white ml-5">
      <% if @requested %>
        <div class="mini-container border shadow px-5 py-5">
            <div class="p-8 text-center sm:p-12">
              <p class="text-md font-semibold uppercase tracking-widest mb-3">
                 Your request has been sent on:
                 <strong><em><%=  @appointment.date.strftime("%d.%m.%Y") %></em></strong>
              </p>

              <h2 class="mt-6 text-3xl font-bold mb-5">
                Thanks for applying, we will get to you as soon as possible<i class="fa-solid fa-check"></i>
              </h2>

              <%= link_to "Check my Dashboard", dashboard_path, id: "btn5" %>
            </div>
        </div>
       <% else %>
      <div data-controller="sweet-alert">
        <h2><em>Book your appointment now:</em></h2>
          <%= simple_form_for [@paperworker, @appointment], html: {class: "w-100", id: 'appointment-form', data: {sweet_alert_target: "form"}} do |f| %>
            <small>Add a note</small>
            <%= f.input :description, as: :text, :input_html => { class: 'test', :cols => 3, :rows => 3 }, label: false %>
            <%= f.input :service, collection: @paperworker.services %>
            <%= f.input :date, as: :date, html5: true %>
            <%#= f.button :submit, "Send your Request", class: "btn3 btn-primary" %>
          <% end %>
          <button id="submit-button" class="btn3 btn-primary" data-action="click->sweet-alert#fire">Send!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
