
<div class="form">
  <%= simple_form_for(:filter, url: users_path, method: :get) do |form| %>
    <div class="field">
      <%= form.input :languages, collection: User::LANGUAGES, class: "filter" %>
    </div>
    <div class="field">
      <%= form.input :district, collection: User::DISTRICT, class: "filter" %>
    </div>
    <div class="field">
      <%= form.input :services, collection: User::SERVICES, class: "filter" %>
    </div>
    <div class="filter-button">
      <%= form.submit "Filter", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
