
<div class="form-container">
  <%= simple_form_for(:filter, url: users_path, method: :get, html: {class: "form"}) do |form| %>
    <div class="field">
      <%= form.input :languages, collection: User::LANGUAGES, input_html: {class: "filter"}, required: false  %>
    </div>
    <div class="field">
      <%= form.input :district, collection: User::DISTRICT, input_html: {class: "filter"}, required: false %>
    </div>
    <div class="field">
      <%= form.input :services, collection: User::SERVICES, input_html: {class: "filter"}, required: false  %>
    </div>
    <div>
      <%= form.submit "Filter", class: "filter-button" %>
    </div>
  <% end %>
</div>
