<div class="container">
  <div class="dashboard">
    <%= render "shared/profile" %>

    <div class="appointments-and-reviews">
    <% if @user.paperworker? %>
      <div class="appointments">
        <h4>My Requests</h4>
         <% if appointments.pending %>
         <% @appointments.pending.each do |appointment| %>
           <%= simple_form_for(appointment, method: :patch) do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
              <%= f.submit "Accept", class: "btn btn-success" %>
            <% end %>
            <%= simple_form_for(appointment, method: :patch) do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
              <%= f.submit "Declined", class: "btn btn-danger" %>
            <% end %>
            <% else %>
            <p> No requests yet! </p>
          <% end %>
      </div>
      <div class="appointments">
        <h4>My Appointments</h4>
          <% @appointments.accepted.each do |appointment| %>
            <p>You have an upcoming appointment with <%= appointment.paperworker.name %></p>
            <%= link_to "Chat", appointment_chat_path(appointment), class: "btn btn-primary" %>
          <% end %>
      </div>
      <div class="appointments">
        <h4>My Reviews </h4>
      </div>
  <% else %>
      <div class="appointments">
        <h4>My Requests</h4>
        <p> Request for <%= appointment.paperworker.name %> still pending <p>
      </div>
      <div class="appointments">
        <h4>My Appointments</h4>
          <% @appointments.accepted.each do |appointment| %>
          <p>You have an upcoming appointment with <%= appointment.paperworker.name %></p>
          <%= link_to "Chat", appointment_chat_path(appointment), class: "btn btn-primary" %>
          <% end %>
      </div>
      <div class="appointments">
        <h4>My Reviews </h4>
      </div>
      <% end %>
    </div>
  </div>
</div>
